@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Homework2.Models.ListData>
<div method="post" asp-controller="Order" asp-action="Index">
    <h1>Welcome:@ViewBag.name</h1>
</div>
<div>
    @if (Model != null)
    { 
        <table cellspacing="5" border="1" width="10%" style="border-collapse:collapse;">
            <tr>
                <td>Game</td>
                <td>Price</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.game</td>
                    <td>@item.price</td>
                </tr>
            }
        </table>
        }
    </div>
<div>
    <div>
        <h1>Order</h1>
        <form asp-controller="Order" asp-action="Buy" method="post">
            <span>Enter Name of Game : </span><input id="Text1" name="game" type="text" value="" />
            <span>Enter Quality : </span><input id="Text2" name="qty" type="text" value="" />
            <span>Enter Price : </span><input id="Text2" name="pri" type="text" value="" />
            <input id"submit1" type="submit" value="Buy" />
        </form>
    </div>
    <div>

        <h1>Myorder</h1>
        <div asp-controller="Order" asp-action="Buy" method="post">
            <p>Game : @ViewBag.namegame</p>
            <p>Quality : @ViewBag.qty </p>
            <p>Price : @ViewBag.pri Bath</p>
            <p>Total : @ViewBag.total Bath</p>
            <input asp-route="Order" id"submit1" type="submit" value="Buy Continue" />
            <input asp-route="Login" id"submit1" type="submit" value="Exit" />
        </div>
    </div>
</div>